body {
    background-color: black;
    
    color: white;
}

h1 {
    font-size: 8rem;
    font-family: 'Times New Roman', Times, serif;
    margin-right: 20rem;
    margin-left: 10rem;
}

h2 {
    font-size: 3.5rem;
    margin-left: 10rem;
    font-family: Arial, Helvetica, sans-serif;
}

#subheading {
    font-family: 'Times New Roman', Times, serif;
    font-size: 4.5rem;
    margin-left: 10rem;
}

p {
    font-size: 2.2rem;
    line-height: 5rem;
    margin-left: 10rem;
    margin-right: 15rem;
    font-family: Arial, Helvetica, sans-serif;
}

li,#navigation {
    display: inline-block;
    align-content: stretch;
    font-size: 2;
    margin-left: 1rem;
}

a,link {
    color: white;
    text-decoration: none;
}

a:visited {
    color: white;
}

#bruno {
    width: 70%;
    margin-left: 10rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.brunosection {
    background-color: white;
}

hr {
    margin-left: 7rem;
    margin-right: 7rem;
}

#Energy {
    margin-left: 9rem;
    display: list-item;
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
}

#seaweeds {
    margin-left: 9rem;
    display: list-item;
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
}

#taste {
    margin-left: 9rem;
    display: list-item;
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
}

#dinner {
    margin-left: 9rem;
    display: list-item;
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
}

#smell {
    margin-left: 10rem;
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
}

.bquote {
    font-size: 2rem;
    text-align: center;
    line-height: 5rem;
    background-color: white;
    color: black;
    font-style: italic;
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-family: Arial, Helvetica, sans-serif;
}

.ukraine {
    width: 100%;
    background-color: white;
}

#marketsquare {
    margin-left: 10rem;
    width: 70vw;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.place {
    width: 100%;
    background-color: white;
}

#streetplace {
    margin-left: 10rem;
    width: 70vw;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

li,#mywork {
    margin-left: 9rem;
    font-size: 1.5rem;
}

#imagesxx {
    text-align: center;
}
