body {
    background-color: black;
    margin-right: 6rem;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    text-align: left;
    font-family: 'Times New Roman', Times, serif;
    font-size: 6rem;
    color: white;
    background-color: black;
    width: 100vw;
    margin-left: 10rem;
}

.imageheader {
    background: url(../Images/finalimgsoc.png) no-repeat;
    width: 100vw;
    position: relative;
}

#subheading {
    color: white;
    width: fit-content;
    position: relative;
    font-size: 3rem;
    margin-left: 25rem;
}

p {
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 50rem;
    color: white;
    margin-left: 15rem;
    margin-right: 15rem;
}

a:link { 
    color: white;
    text-decoration: none;
}

li, #navigation {
    display: inline-block;
    font-size: large;
    margin-left: 7rem;
    margin-right: 7rem;
    align-content: stretch;
}

#list {
    position: relative;
    margin-right: 2rem;
    color: white;
}

h2 {
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2rem;
    position: relative;
    margin-left: 15rem;
    align-items: center;
    text-align: justify;
}

#Energy {
    display: list-item;
    color: white;
    font-size: large;
    margin-left: 15rem;
}

#seaweeds {
    display: list-item;
    color: white;
    font-size: large;
    margin-left: 15rem;
}

#taste {
    display: list-item;
    color: white;
    font-size: large;
    margin-left: 15rem;
}

#dinner {
    display: list-item;
    color: white;
    font-size: large;
    margin-left: 15rem;
}

#smell {
    color: white;
    font-size: large;
    margin-left: 15rem;
}

#quote {
    color: white;
    font-size: medium;
    margin-left: 15rem;
    text-align: center;
    margin-right: 15rem;
}

img,#bruno {
    position: relative;
    width: 50vw;
    margin-left: 15rem;
}

img,#luminousm {
    position: relative;
    width: 50rem;
    margin-left: 15rem;
}

img,#marketsquare {
    position: relative;
    width: 50rem;
    margin-left: 15rem;
}